header {
  margin: 0px;
  background-color: #A9A9A9;
}

.crumb {
  border: solid black 1px;
  display: inline-block;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.crumb:hover {
  color: white;
  background-color: #212121;
}

#menu {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#icon {
  align-self: flex-start;
}
